# Database Config
DATABASE_URL="postgres://blog_user:blog_password@localhost:5432/blog_db"

# Admin Credentials
ADMIN_USERNAME="username"
ADMIN_PASSWORD="password"

# JWT Config
JWT_SECRET="SUPER_SECRET_KEY_123"
